Code Email/kpi_process/xml-resources/web-service-references/ServiceCoDien/wsdl/10.60.7.239_8031/BIKTService/ServiceCoDien.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webservices.pnms.viettel.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://webservices.pnms.viettel.com/" name="ServiceCoDien">
<types>
<xsd:schema>
<xsd:import namespace="http://webservices.pnms.viettel.com/" schemaLocation="http://10.60.7.239:8031/BIKTService/ServiceCoDien?xsd=1" />
</xsd:schema>
</types>
<message name="getKpiSuCoCoDien">
<part name="parameters" element="tns:getKpiSuCoCoDien" />
</message>
<message name="getKpiSuCoCoDienResponse">
<part name="parameters" element="tns:getKpiSuCoCoDienResponse" />
</message>
<message name="getKpiNhietDoCao">
<part name="parameters" element="tns:getKpiNhietDoCao" />
</message>
<message name="getKpiNhietDoCaoResponse">
<part name="parameters" element="tns:getKpiNhietDoCaoResponse" />
</message>
<message name="getKpiMonth">
<part name="parameters" element="tns:getKpiMonth" />
</message>
<message name="getKpiMonthResponse">
<part name="parameters" element="tns:getKpiMonthResponse" />
</message>
<message name="getKpiSaiQuyTrinh">
<part name="parameters" element="tns:getKpiSaiQuyTrinh" />
</message>
<message name="getKpiSaiQuyTrinhResponse">
<part name="parameters" element="tns:getKpiSaiQuyTrinhResponse" />
</message>
<portType name="ServiceCoDien">
<operation name="getKpiSuCoCoDien">
<input wsam:Action="http://webservices.pnms.viettel.com/ServiceCoDien/getKpiSuCoCoDienRequest" message="tns:getKpiSuCoCoDien" />
<output wsam:Action="http://webservices.pnms.viettel.com/ServiceCoDien/getKpiSuCoCoDienResponse" message="tns:getKpiSuCoCoDienResponse" />
</operation>
<operation name="getKpiNhietDoCao">
<input wsam:Action="http://webservices.pnms.viettel.com/ServiceCoDien/getKpiNhietDoCaoRequest" message="tns:getKpiNhietDoCao" />
<output wsam:Action="http://webservices.pnms.viettel.com/ServiceCoDien/getKpiNhietDoCaoResponse" message="tns:getKpiNhietDoCaoResponse" />
</operation>
<operation name="getKpiMonth">
<input wsam:Action="http://webservices.pnms.viettel.com/ServiceCoDien/getKpiMonthRequest" message="tns:getKpiMonth" />
<output wsam:Action="http://webservices.pnms.viettel.com/ServiceCoDien/getKpiMonthResponse" message="tns:getKpiMonthResponse" />
</operation>
<operation name="getKpiSaiQuyTrinh">
<input wsam:Action="http://webservices.pnms.viettel.com/ServiceCoDien/getKpiSaiQuyTrinhRequest" message="tns:getKpiSaiQuyTrinh" />
<output wsam:Action="http://webservices.pnms.viettel.com/ServiceCoDien/getKpiSaiQuyTrinhResponse" message="tns:getKpiSaiQuyTrinhResponse" />
</operation>
</portType>
<binding name="ServiceCoDienPortBinding" type="tns:ServiceCoDien">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="getKpiSuCoCoDien">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getKpiNhietDoCao">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getKpiMonth">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getKpiSaiQuyTrinh">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
</binding>
<service name="ServiceCoDien">
<port name="ServiceCoDienPort" binding="tns:ServiceCoDienPortBinding">
<soap:address location="http://10.60.7.239:8031/BIKTService/ServiceCoDien" />
</port>
</service>
</definitions>