Code Email/kpi_process/src/META-INF/wsdl/10.58.71.48_8280/vsaadminv3/VsaadminService.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.1-b01-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.1-b01-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service.vsaadmin.viettel.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://service.vsaadmin.viettel.com/" name="VsaadminServiceService">
<types>
<xsd:schema>
<xsd:import namespace="http://service.vsaadmin.viettel.com/" schemaLocation="http://10.58.71.48:8280/vsaadminv3/VsaadminService?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="getAllUser">
<part name="parameters" element="tns:getAllUser"></part>
</message>
<message name="getAllUserResponse">
<part name="parameters" element="tns:getAllUserResponse"></part>
</message>
<message name="getManagedRoles">
<part name="parameters" element="tns:getManagedRoles"></part>
</message>
<message name="getManagedRolesResponse">
<part name="parameters" element="tns:getManagedRolesResponse"></part>
</message>
<message name="getDepartmentTree">
<part name="parameters" element="tns:getDepartmentTree"></part>
</message>
<message name="getDepartmentTreeResponse">
<part name="parameters" element="tns:getDepartmentTreeResponse"></part>
</message>
<message name="createUsers">
<part name="parameters" element="tns:createUsers"></part>
</message>
<message name="createUsersResponse">
<part name="parameters" element="tns:createUsersResponse"></part>
</message>
<message name="getRolesOfApp">
<part name="parameters" element="tns:getRolesOfApp"></part>
</message>
<message name="getRolesOfAppResponse">
<part name="parameters" element="tns:getRolesOfAppResponse"></part>
</message>
<message name="getUserHaveRole">
<part name="parameters" element="tns:getUserHaveRole"></part>
</message>
<message name="getUserHaveRoleResponse">
<part name="parameters" element="tns:getUserHaveRoleResponse"></part>
</message>
<message name="getUserRole">
<part name="parameters" element="tns:getUserRole"></part>
</message>
<message name="getUserRoleResponse">
<part name="parameters" element="tns:getUserRoleResponse"></part>
</message>
<message name="deleteUserRole">
<part name="parameters" element="tns:deleteUserRole"></part>
</message>
<message name="deleteUserRoleResponse">
<part name="parameters" element="tns:deleteUserRoleResponse"></part>
</message>
<message name="getLocations">
<part name="parameters" element="tns:getLocations"></part>
</message>
<message name="getLocationsResponse">
<part name="parameters" element="tns:getLocationsResponse"></part>
</message>
<message name="getUserInfoBySyncDate">
<part name="parameters" element="tns:getUserInfoBySyncDate"></part>
</message>
<message name="getUserInfoBySyncDateResponse">
<part name="parameters" element="tns:getUserInfoBySyncDateResponse"></part>
</message>
<message name="getUserInfoBySyncDateAppcode">
<part name="parameters" element="tns:getUserInfoBySyncDateAppcode"></part>
</message>
<message name="getUserInfoBySyncDateAppcodeResponse">
<part name="parameters" element="tns:getUserInfoBySyncDateAppcodeResponse"></part>
</message>
<message name="updateUsers">
<part name="parameters" element="tns:updateUsers"></part>
</message>
<message name="updateUsersResponse">
<part name="parameters" element="tns:updateUsersResponse"></part>
</message>
<message name="lockUsers">
<part name="parameters" element="tns:lockUsers"></part>
</message>
<message name="lockUsersResponse">
<part name="parameters" element="tns:lockUsersResponse"></part>
</message>
<message name="unlockUsers">
<part name="parameters" element="tns:unlockUsers"></part>
</message>
<message name="unlockUsersResponse">
<part name="parameters" element="tns:unlockUsersResponse"></part>
</message>
<message name="resetPassword">
<part name="parameters" element="tns:resetPassword"></part>
</message>
<message name="resetPasswordResponse">
<part name="parameters" element="tns:resetPasswordResponse"></part>
</message>
<message name="approveRole">
<part name="parameters" element="tns:approveRole"></part>
</message>
<message name="approveRoleResponse">
<part name="parameters" element="tns:approveRoleResponse"></part>
</message>
<message name="getUserInfo">
<part name="parameters" element="tns:getUserInfo"></part>
</message>
<message name="getUserInfoResponse">
<part name="parameters" element="tns:getUserInfoResponse"></part>
</message>
<portType name="VsaadminService">
<operation name="getAllUser">
<input wsam:Action="http://service.vsaadmin.viettel.com/VsaadminService/getAllUserRequest" message="tns:getAllUser"></input>
<output wsam:Action="http://service.vsaadmin.viettel.com/VsaadminService/getAllUserResponse" message="tns:getAllUserResponse"></output>
</operation>
<operation name="getManagedRoles">
<input wsam:Action="http://service.vsaadmin.viettel.com/VsaadminService/getManagedRolesRequest" message="tns:getManagedRoles"></input>
<output wsam:Action="http://service.vsaadmin.viettel.com/VsaadminService/getManagedRolesResponse" message="tns:getManagedRolesResponse"></output>
</operation>
<operation name="getDepartmentTree">
<input wsam:Action="http://service.vsaadmin.viettel.com/VsaadminService/getDepartmentTreeRequest" message="tns:getDepartmentTree"></input>
<output wsam:Action="http://service.vsaadmin.viettel.com/VsaadminService/getDepartmentTreeResponse" message="tns:getDepartmentTreeResponse"></output>
</operation>
<operation name="createUsers">
<input wsam:Action="http://service.vsaadmin.viettel.com/VsaadminService/createUsersRequest" message="tns:createUsers"></input>
<output wsam:Action="http://service.vsaadmin.viettel.com/VsaadminService/createUsersResponse" message="tns:createUsersResponse"></output>
</operation>
<operation name="getRolesOfApp">
<input wsam:Action="http://service.vsaadmin.viettel.com/VsaadminService/getRolesOfAppRequest" message="tns:getRolesOfApp"></input>
<output wsam:Action="http://service.vsaadmin.viettel.com/VsaadminService/getRolesOfAppResponse" message="tns:getRolesOfAppResponse"></output>
</operation>
<operation name="getUserHaveRole">
<input wsam:Action="http://service.vsaadmin.viettel.com/VsaadminService/getUserHaveRoleRequest" message="tns:getUserHaveRole"></input>
<output wsam:Action="http://service.vsaadmin.viettel.com/VsaadminService/getUserHaveRoleResponse" message="tns:getUserHaveRoleResponse"></output>
</operation>
<operation name="getUserRole">
<input wsam:Action="http://service.vsaadmin.viettel.com/VsaadminService/getUserRoleRequest" message="tns:getUserRole"></input>
<output wsam:Action="http://service.vsaadmin.viettel.com/VsaadminService/getUserRoleResponse" message="tns:getUserRoleResponse"></output>
</operation>
<operation name="deleteUserRole">
<input wsam:Action="http://service.vsaadmin.viettel.com/VsaadminService/deleteUserRoleRequest" message="tns:deleteUserRole"></input>
<output wsam:Action="http://service.vsaadmin.viettel.com/VsaadminService/deleteUserRoleResponse" message="tns:deleteUserRoleResponse"></output>
</operation>
<operation name="getLocations">
<input wsam:Action="http://service.vsaadmin.viettel.com/VsaadminService/getLocationsRequest" message="tns:getLocations"></input>
<output wsam:Action="http://service.vsaadmin.viettel.com/VsaadminService/getLocationsResponse" message="tns:getLocationsResponse"></output>
</operation>
<operation name="getUserInfoBySyncDate">
<input wsam:Action="http://service.vsaadmin.viettel.com/VsaadminService/getUserInfoBySyncDateRequest" message="tns:getUserInfoBySyncDate"></input>
<output wsam:Action="http://service.vsaadmin.viettel.com/VsaadminService/getUserInfoBySyncDateResponse" message="tns:getUserInfoBySyncDateResponse"></output>
</operation>
<operation name="getUserInfoBySyncDateAppcode">
<input wsam:Action="http://service.vsaadmin.viettel.com/VsaadminService/getUserInfoBySyncDateAppcodeRequest" message="tns:getUserInfoBySyncDateAppcode"></input>
<output wsam:Action="http://service.vsaadmin.viettel.com/VsaadminService/getUserInfoBySyncDateAppcodeResponse" message="tns:getUserInfoBySyncDateAppcodeResponse"></output>
</operation>
<operation name="updateUsers">
<input wsam:Action="http://service.vsaadmin.viettel.com/VsaadminService/updateUsersRequest" message="tns:updateUsers"></input>
<output wsam:Action="http://service.vsaadmin.viettel.com/VsaadminService/updateUsersResponse" message="tns:updateUsersResponse"></output>
</operation>
<operation name="lockUsers">
<input wsam:Action="http://service.vsaadmin.viettel.com/VsaadminService/lockUsersRequest" message="tns:lockUsers"></input>
<output wsam:Action="http://service.vsaadmin.viettel.com/VsaadminService/lockUsersResponse" message="tns:lockUsersResponse"></output>
</operation>
<operation name="unlockUsers">
<input wsam:Action="http://service.vsaadmin.viettel.com/VsaadminService/unlockUsersRequest" message="tns:unlockUsers"></input>
<output wsam:Action="http://service.vsaadmin.viettel.com/VsaadminService/unlockUsersResponse" message="tns:unlockUsersResponse"></output>
</operation>
<operation name="resetPassword">
<input wsam:Action="http://service.vsaadmin.viettel.com/VsaadminService/resetPasswordRequest" message="tns:resetPassword"></input>
<output wsam:Action="http://service.vsaadmin.viettel.com/VsaadminService/resetPasswordResponse" message="tns:resetPasswordResponse"></output>
</operation>
<operation name="approveRole">
<input wsam:Action="http://service.vsaadmin.viettel.com/VsaadminService/approveRoleRequest" message="tns:approveRole"></input>
<output wsam:Action="http://service.vsaadmin.viettel.com/VsaadminService/approveRoleResponse" message="tns:approveRoleResponse"></output>
</operation>
<operation name="getUserInfo">
<input wsam:Action="http://service.vsaadmin.viettel.com/VsaadminService/getUserInfoRequest" message="tns:getUserInfo"></input>
<output wsam:Action="http://service.vsaadmin.viettel.com/VsaadminService/getUserInfoResponse" message="tns:getUserInfoResponse"></output>
</operation>
</portType>
<binding name="VsaadminServicePortBinding" type="tns:VsaadminService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="getAllUser">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getManagedRoles">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getDepartmentTree">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="createUsers">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getRolesOfApp">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getUserHaveRole">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getUserRole">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="deleteUserRole">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getLocations">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getUserInfoBySyncDate">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getUserInfoBySyncDateAppcode">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="updateUsers">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="lockUsers">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="unlockUsers">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="resetPassword">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="approveRole">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getUserInfo">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
</binding>
<service name="VsaadminServiceService">
<port name="VsaadminServicePort" binding="tns:VsaadminServicePortBinding">
<soap:address location="http://10.58.71.48:8280/vsaadminv3/VsaadminService"></soap:address>
</port>
</service>
</definitions>